html {
  background-color: #e6e9e9;
  background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
  -webkit-font-smoothing: antialiased;
  min-height:100%;
	position:relative;
	display:block;
	margin: 0 8px 8px 8px;
}

body {
	/*display:inline-block;*/
	min-width:100%;
	min-height:100%;
  padding: 60px 0 50px 0;
  color: #545454;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5em;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.06);
  font-family: 'Noto Sans', sans-serif;
  /*font-family: 'Maven Pro', sans-serif;*/
  /*font-family: 'Oxygen', sans-serif;*/
  /*font-family: 'Source Sans Pro', sans-serif;*/
  /*font-family: 'Asap', sans-serif;*/
  /*font-family: 'Exo 2', sans-serif;*/
  /*font-family: 'Lato', sans-serif;*/
  /*font-family: 'Titillium Web', sans-serif;*/
  /*font-family: "Computer Modern Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.bodysection{
  margin: 33px 170px 0em 170px;
	display:block;
}

h1{
  color:#212121;
}

h2{
  color:#4B4B4B;
}

nav{
  position: fixed;
  height:60px;
  margin:0;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #004679;
  box-shadow: 1px 5px 70px dimgray;
  min-width:50em;
  width:100%;
  overflow:hidden;
	z-index:1;
}

a.banner-logo-container {
  height:inherit;
  float: left;
  padding: 5px 0 5px 8px;
  z-index: 2;
}

#logo{
  height:50px;
  float:left;
  box-shadow: 13px 5px 10px rgba(0, 0, 0, 0.5)
}

#logotxt{
  margin-left: 18px;
  margin-right: 18px;
  font-size: 28px;
  vertical-align:-65%;
  letter-spacing: .1em;
  text-shadow: 10px 3px 7px rgba(0, 0, 0, 0.5);
}

#menubar{
  height: inherit;
  margin-right: 25px;
  float: right;
}

li{
  display:inline-block;
}

.headlink{
  padding: 18px 16px 17px 16px;
  letter-spacing: .1em;
}

.signin_link{
  background-color:dodgerblue;
  padding: 3px 15px 3px 15px;
  border: 2px solid white;
  border-radius: 10px;
  margin-left:12px;
}

#homeclick{
  color:gold;
  box-shadow: 12px 4px 30px rgba(0, 0, 0, 0.35);
  border-right-style:inset;
  border-right-color:#03396c;
  border-right-width:thin;
}

#on{
  color:gold;
  text-shadow: 2px 2px 6px #2e2e2e;
  background-color:#005b96;
  box-shadow: 8px 1px 7px rgba(0, 0, 0, 0.3);
  border-bottom-style:solid;
}

a{
  vertical-align:middle;
}

a:link{
  color:white;
  font-size:18px;
  font-weight:600;
  text-decoration: none;
}

a:visited{
  color:white;
  text-decoration: underline;
}

a:hover{
  color:gold;
  background-color:#005b96;
}

footer{
  background-color:darkgoldenrod;
  color:aliceblue;
  font-weight:700;
  position:absolute;
  bottom:0px;
	right:0px;
	left:0px;
  width:100%;
	z-index:1;
}

footer > ul{
  padding-top: 2px;
  padding-bottom: 5px;
  margin: 0 0 0 0;
}

footer > ul > li{
  text-shadow:#2e2e2e 0 4px 5px;
  margin-right: 10px;
  margin-left: 10px;
}

footer > ul > li a.footLink{
  vertical-align:baseline;
  text-shadow:#000000 0 4px 4px;
  font-size:14px;
  color:#fff;
  text-decoration:underline;
}

footer > ul > li a:hover{
  color:dodgerblue;
}

footer > ul > li a:visited{
  color:#b3cde0;
}

table{
  border-style:outset;
}

caption{
  font-size: 30px;
  font-stretch:extra-expanded;
  font-weight:500;
  padding-top:10px;
  padding-bottom:10px;
  background-color:#FFD300;
  border-radius: 5px;
  border-style:groove;
}

td{
  overflow:auto;
  border-style:ridge;
  border-color:white;
  border-width: thin;
  padding-bottom: 100px;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

th{
  background-color:#9BC4E2;
  border-style:ridge;
  border-width: thin;
  border-color:lightsteelblue;
}

#project_title_col{
  background-color:#FFF8DC;
}

#entry_cols{
  background-color:#F7F7F7;
}
